<h1>

<%= @team.title %>
<% if Membership.find_by(user: current_user, team: @team).present? %>
  <%= link_to "Chatroom", chatroom_team_path(@team.chatroom_team) %>
<% else %>
  <%= link_to "Join", team_memberships_path(@team), method: :post %>
<% end %>



</h1>

<h3>
Membros
</h3>
<ul>
  <% @memberships.each do |member| %>
    <li>

    <%= member %>

    </li>
  <% end %>
</ul>

<% @posts.each do |post| %>
  <%= post.content %>
  <%= post.media %>
  <%= post.user.username %>
<% end %>

<%# index do post, linhas 50-73, criar card %>
