
<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <div class="chatroom_title">
    <% if @chatroom.user == current_user %>
      <%= image_tag @chatroom.user_two.avatar_thumbnail, class: "avatar d-flex" %>
      <%= link_to @chatroom.user_two.username, user_path(@chatroom.user_two), method: :get, class: "d-inline-flex" %>
    <% else %>
      <%= image_tag @chatroom.user.avatar_thumbnail, class: "avatar d-flex" %>
      <%= link_to @chatroom.user.username, user_path(@chatroom.user), method: :get, class: "d-inline-flex" %>
    <% end %>
  </div>
  <div class="chat_box pr-2">
    <div class="messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
  </div>
      <%= simple_form_for [@chatroom, @message],
      remote: true,
      html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}} do |f|
      %>
    <div class="d-flex ">
      <div class="w-100 border-0">
        <%= f.input :content, label: false, placeholder: "Say something to ##{@chatroom.user == current_user ? @chatroom.user_two.username : @chatroom.user.username}" %>
      </div>
        <div class="chat_button">
          <%= f.submit "Send", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
