
<%# to do  %>
<%# criar if else(if current_user = profile.user = my_profile) %>
<%# else profile = user.id %>
  <div class="profile-information">

    <h1>Username: <%= @user.username %></h1>
    <p>Followers: <%= @user.followers.count %></p>
    <p>Following: <%= @user.following.count %></p>

      <% unless @user.id == current_user.id  %>

        <% if @follow.present? %>
           <%= link_to 'Unfollow', follow_path(@follow.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
         <%= link_to 'Follow', user_follows_path(@user), method: :post, class: 'btn btn-primary'  %>
         <% end %>
      <% end %>
  </div>

  <div>
    <div class="container">
      <% @posts.each do |post| %>
          <%= link_to post_path(post), style:"color: black; text-decoration:none;" do  %>
            <div class='card' style="width: 18rem;">
              <div class='card-body'>
                <%= post.content %>
                <% if post.photo.attached? %>
                <div class="p-5" style="width:300px; height: 192px; background-image: url(<%= cl_image_path post.photo.key %>); background-size: cover; background-repeat: no-repeat;" >
                  </div>
                <% end %>
                <%= post.user.username %>
                <%= post.created_at.strftime("%H:%M %d-%m-%Y")%>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
