<%= @user.email %>

<%= link_to 'Follow', user_follows_path(@user), method: :post, class: 'btn btn-primary' unless @follow.present? %>
<%= link_to 'Unfollow', follow_path(@follow.id), method: :delete, class: 'btn btn-danger' if @follow.present? %>
<p>Followers: <%= @user.followers.count %></p>
<p>Following: <%= @user.following.count %></p>
