
<div class="d-flex justify-content-between mt-4">
  <div class="user-infos mt-5">
     <div class="username-section d-flex flex-column align-items-center ">
      <div class="position-relative">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar feed-avatar" %>
      <% else %>
        <%= image_tag "https://www.shareicon.net/data/128x128/2016/08/18/809170_user_512x512.png", class: "avatar feed-avatar" %>
      <% end %>
      </div>
      <h3 class="mt-4"><%= current_user.username  %></h3>
     </div>
    <div class="container  profile-card">
<div class="row p-2 mx-auto">
        <p style="oppacity= 50%">looking for a team <i class="fas fa-search"></i></p>
</div>
<div class="row">
      <div class="d-flex padding-border">
       <div class="col-6 "><p class="px-1 pt-1">followers <%= current_user.followers.count %></p></div>
        <div class="col-6"><p class="px-1 pt-1"> following <%= current_user.following.count %></p></div>
      </div>
</div>
    </div>

    <div class="container">
        <h3>Not in a team yet</h3>
        <div><%= link_to "Create Team", new_team_path, class: "btn btn-primary" %>
</div>

    </div>
  </div>



  <div class="feed-size">
    <div class="form-style w-75 mb-3 mx-auto">
      <%= simple_form_for @post do |f|  %>
        <%= f.input :content, :input_html => {class: "content-height"} %>
        <div class=" d-flex justify-content-between">
        <div >
        <%= f.input :tag_list, collection: Post::TAGS,label:false, selected: 1  %>

        <div class='d-flex'>

     <%= f.input :photo, input_html: { class: 'd-none'}, label_html: { class: 'upload-media'}, label: '<i class="fas fa-image"></i> Add photo'.html_safe  %>
            <%= f.input :video, input_html: { class: 'd-none'}, label_html: { class: 'upload-media'}, label: '<i class="fas fa-film"></i> Add media'.html_safe , cloudinary_resource_type: 'raw' %>
            </div>
        </div>
        <div class="d-flex align-items-end mb-4">
        <%= f.submit class: 'btn post-btn'%>
        </div>
      <%end%>
      </div>
    </div>

  <div class="container w-50 padding-feed">
    <% @posts.each do |post| %>
      <%= link_to post_path(post), style:"color: black; text-decoration:none;" do  %>
        <div class='w-100' style="width: 18rem;">
          <div class='card-feed p-4 mb-2 d-flex flex-column align-items-center'>
            <div class='user-info'>

                <% if post.user.avatar.attached? %>
                  <%= cl_image_tag post.user.avatar.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "https://www.shareicon.net/data/128x128/2016/08/18/809170_user_512x512.png", class: "avatar" %>
                <% end %>

                <%= post.user.username %>

            </div>
            <%=post.content %>
            <% if post.tags.empty? %>
              <%= "General" %>
            <% else %>
              <%= post.tags.first.name %>
            <% end %>
            <% if post.photo.attached? %>
              <div class="p-5" style="width:300px; height: 192px; background-image: url(<%= cl_image_path post.photo.key %>); background-size: cover; background-repeat: no-repeat;" >
              </div>
            <% end %>
            <% if post.video.attached? %>
              <div class= "video p-5" style= "background-size: cover; background-repeat: no-repeat;">
                <%= cl_video_tag post.video.key, cloudinary_resource_type: 'raw', autoplay: false, loop: true, controls: true %>
              </div>
            <% end %>
            <p>Published at <%= time_ago_in_words(post.created_at) %></p>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
    <div class="social-infos">



    <div class="chats ">
      <ul>
        <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom) do %>
          <li><%= chatroom.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>


    <div class="follows-list">
      <% @following.each do |follow| %>
      <%= link_to follow.followed.username, user_path(follow.followed) %>
      <% end %>
    </div>

    </div>
  </div>
</div>
